select,
option {
    width: 100px;
}

#whole {
    height: 530px;
    padding-left: 10px;
}

#url {
    padding: 5px 5px;
}

#create,
#load {
    background-color: #04aa6d;
    color: white;
    margin-left: 25px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    text-align: center;
}

#loading {
  /* width: 40%; */
    /* align-items: center;
    justify-content: center; */
    /* min-height: 100vh; */
    margin-top: 10%;
    margin-left: 20%;
    /* unicode-bidi: isolate; */
    /* position: "absolute";
    top: "40%";
    left: "40%"; */
    /* margin-top: 20%;
    margin-left: 50%; */
}

/* #loading {
    font-size: 30px;
    text-align: center;
} */

.circle {
    text-align: center;
}

#user {
    position: relative;
    float: right;
    top: -20px;
}

#addon-url {
    padding-top: 35px;
    padding-bottom: 5px;
}

#codespace-url {
    padding-top: 10px;
    padding-bottom: 5px;
}

#create-project-loader {
    margin-top: 40px;
}
