/*************************************************************************
 *
 * ADOBE CONFIDENTIAL
 * ___________________
 *
 *  Copyright 2022 Adobe
 *  All Rights Reserved.
 *
 * NOTICE: All information contained herein is, and remains
 * the property of Adobe and its suppliers, if any. The intellectual
 * and technical concepts contained herein are proprietary to Adobe
 * and its suppliers and are protected by all applicable intellectual
 * property laws, including trade secret and copyright laws.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe.
 **************************************************************************/

#leftNavBarContainer {
    background-color: var(--spectrum-global-color-gray-50);
    /* margin-right: var(2px, 2px); */
    /* padding-top: var(--spectrum-global-dimension-size-75, var(--spectrum-alias-size-75)); */
    /* height: 100%;
    min-width: 100%; */
    /* box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: var(--spectrum-alias-border-color-dark, #cacaca);
    border-radius: 5px; */
}
